* {
  margin: 0;
  padding: 0;
}

.bannerCertificado {
  width: 100%;
  /* height: 86.6vh; */
  margin-top: 100px;
}

.bannerCertificado .img-banner {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .bannerCertificado {
    height: 88vh
  }

  .bannerCertificado .img-banner {
    height: 100%;
    content: url("https://i.postimg.cc/d3J79Mcf/VIERNEZ-CEL.png");
  }
}
