* {
  margin: 0;
  padding: 0;
}

.contenedor-contacto {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  margin-bottom: 40px;
}

.contenedor-contacto .info-contacto {
  width: 100%;
  height: 100%;
  display: grid;
}

.contenedor-contacto .info-contacto h1 {
  margin: 0 50px;
  height: 120px;
  border-left: 10px solid #cf0a2c;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 70px;
  font-family: "Antonio";
}

.contenedor-contacto .info-contacto img {
  width: 80%;
  height: 80%;
  margin: auto auto;
}

.contenedor-contacto .info-contacto .info-texto {
  width: 80%;
  margin-left: 60px;
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 10px;
}

.contenedor-contacto .form-contacto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-contacto .form-contacto .cont-formulario {
  width: 80%;
  height: 95%;
  margin-top: 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px -2px black;
}

.contenedor-contacto .form-contacto .cont-formulario .text-info {
  width: 70%;
  height: 20%;
  margin: 50px auto 0 auto;
  color: black !important;
}

.contenedor-contacto .form-contacto .cont-formulario .form-info {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contenedor-contacto .form-contacto .cont-formulario .form-info input {
  width: 90%;
  height: 40px;
  margin: 0 auto 30px auto;
  border: none;
  border-bottom: 2px solid #555759;
  transition: 0.5s;
}

.contenedor-contacto .form-contacto .cont-formulario .form-info input:focus {
  width: 95%;
  height: 45px;
  border-bottom: 3px solid #a9acac;
  outline: none;
}

.contenedor-contacto .form-contacto .cont-formulario .form-info #mensaje {
  height: 100px;
}

.contenedor-contacto .form-contacto .cont-formulario .form-info button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  align-self: flex-end;
  margin-right: 30px;
  border: none;
  background-color: #cf0a2c;
  box-shadow: 8px 8px 15px 1px rgba(221, 70, 95, 1);
  color: white;
  transition: 0.3s;
}

.contenedor-contacto .form-contacto .cont-formulario .form-info button:hover {
  transform: scale(1.2);
  background-color: white;
  color: #cf0a2c;
}

.contenedor-contacto .form-contacto .cont-formulario .form-info button:active {
  transform: scale(0.8);
}

@media screen and (max-width: 1550px) {
  .contenedor-contacto {
    height: 500px;
    margin-bottom: 60px;
  }
  
  .contenedor-contacto .info-contacto .info-texto {
    width: 80%;
    margin-left: 60px;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 10px;
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .contenedor-contacto {
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

  .contenedor-contacto .info-contacto h1 {
    margin: 0 10px;
    height: 80px;
    font-size: 50px;
  }

  .contenedor-contacto .info-contacto img {
    width: 75%;
    height: 75%;
  }
  
  .contenedor-contacto .info-contacto .info-texto {
    width: 90%;
    margin-left: 25px;
    grid-template-columns: 10% 90%;
  }

  .contenedor-contacto .form-contacto {
    height: 100%;
  }

  .contenedor-contacto .form-contacto .cont-formulario {
    width: 90%;
    height: 500px;
  }
  
  .contenedor-contacto .form-contacto .cont-formulario .text-info {
    width: 80%;
    margin: 30px auto 0 auto;
    font-size: 14px;
    text-align: center;
  }
  
  .contenedor-contacto .form-contacto .cont-formulario .form-info {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .contenedor-contacto .form-contacto .cont-formulario .form-info input {
    width: 80%;
  }

  .contenedor-contacto .form-contacto .cont-formulario .form-info input:focus {
    width: 85%;
    height: 45px;
    border-bottom: 3px solid #a9acac;
    outline: none;
  }
}
