* {
    margin: 0;
    padding: 0;
}

.cont-convocatorias {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cont-convocatorias .convo {
    width: 33%;
}

.cont-convocatorias .convo figure {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cont-convocatorias .convo figure .img-convo {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.cont-convocatorias .convo figure .capa-convo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.cont-convocatorias .convo figure:hover > .capa-convo {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, .2);
}

.cont-convocatorias .convo figure:hover > .img-convo {
    filter: blur(5px);
}

.cont-convocatorias .convo figure .capa-convo .tit-convo {
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 2px 3px 2px black;
    margin-bottom: 10px;
}

.cont-convocatorias .convo figure .capa-convo .btn-convo {
    width: 30%;
    padding: 10px;
    background-color: #cf0a2c;
    color: white;
    align-self: center;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 8px 8px 15px 1px rgba(221, 70, 95, 1);
    /* box-shadow: 5px 5px 8px 2px white; */
    /* border: 1px solid white; */
}

@media screen and (max-width: 1366px) {
    
}

@media screen and (max-width:768px) {
    .cont-convocatorias {
        justify-content: center;
    }

    .cont-convocatorias .convo {
        width: 80%;
    }

    .cont-convocatorias .convo figure .capa-convo .tit-convo {
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    .cont-convocatorias .convo figure .capa-convo .btn-convo {
        width: 30%;
        font-size: 12px;
    }
}