* {
  margin: 0;
  padding: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
    /* transform: translateX(-270%); */
  }
}

.contenedor {
  width: 100%;
  height: 200px;
  margin-top: 60px;
}

.contenedor .tit-empresas {
  height: 30%;
  display: flex;
  align-items: center;
}

.contenedor .tit-empresas h1 {
  margin-left: 50px;
  font-family: 'Antonio';
  font-size: 45px;
}

.contenedor .slider {
  height: 65%;
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.contenedor .slider .slider-track {
  animation: scroll 15s linear infinite;
  display: flex;
}

.contenedor .slider .slider-track .listas {
  margin-right: 15px;
}

.contenedor .slider .slider-track .listas img {
  height: 110px;
  width: 250px;
}

.react-slideshow-container .nav {
  z-index: 9;
}

@media screen and (max-width: 960px) {
  .contenedor {
    margin-top: 40px;
  }

  .contenedor .tit-empresas h1 {
    margin-left: 30px;
    font-size: 27px;
  }
}

@media screen and (max-width: 768px) {
  .contenedor {
    margin-top: 20px;
    height: 150px;
  }

  .contenedor .tit-empresas h1 {
    margin-left: 10px;
    font-size: 20px;
  }

  .contenedor .slider .slider-track .listas img {
    height: 100px;
    width: 210px;
  }
}
