* {
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
    height: 50px;
    /* position: fixed;
    bottom: 0;
    overflow: hidden; */
    background-color: black;
    /* z-index: 10; */
}

.footer .redes-sociales {
    float: right;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .copyright {
    color: white;
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-redes {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}