* {
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: black;
}

.footer .redes-sociales {
    float: right;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .copyright {
    color: white;
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-redes {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) { 
    .footer .redes-sociales {
        width: 60%;
    }

    .footer .copyright {
        width: 40%;
    }
    
    .footer .copyright p {
        font-size: 11px;
    }
    
    .img-redes {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
}