*{
    margin: 0;
    padding: 0;
}

.header{
    overflow: hidden;
    background-color: #cf0a2c;
    /* background-color:white; */
    color: white;
    /* color: black; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 20vh;
}

.header .titulo{
    width: 100%;
    height: 70%;
}

.header .titulo .logo {
    float: left;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .titulo .logo .icono {
    width: 100px;
    height: 100px;
    background-color: cornsilk;
    border-radius: 50%;
}

.header .titulo .logo .icono img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header .titulo .tit-jets {
    float: right;
    height: 60%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header .titulo .tit-jets h1 {
    width: 20%;
}

.header .titulo .tit-texto {
    float: right;
    height: 40%;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.header .titulo .tit-texto h3 {
    width: 38%;
}

.header .navbar {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.header a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    height: 90%;
    display: flex;
    align-items: center;
    padding: 0px 35px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}

.header a:hover {
    background-color: #fff;
    color: #cf0a2c;
    border-radius: 10px;
}