@font-face {
    font-family: 'NFL RedZone';
    src: url('../fonts/NFL\ RedZone.ttf');
}

*{
    margin: 0;
    padding: 0;
}

.header{
    overflow: hidden;
    background-color: #cf0a2c;
    /* background-color:white; */
    color: white;
    /* color: black; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
    height: 150px;
}

.header .titulo{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.header .titulo .logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .titulo .logo .icono {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .titulo .logo .icono img {
    width: 90%;
    height: 90%;
}

.header .titulo .cont-tit {
    width: 100%;
    height: 100%;
    display: grid;
}

.header .titulo .cont-tit .tit-jets {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.header .titulo .cont-tit .tit-jets h1 {
    font-family: 'NFL RedZone';
    margin: 0 0 0 30%;
}

.header .titulo .cont-tit .tit-texto {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.header .titulo .tit-texto h3 {
    margin: 0 0 0 21%;
}

.header .navbar {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.header a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    height: 90%;
    display: flex;
    align-items: center;
    padding: 0px 35px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}

.header a:hover {
    background-color: #fff;
    color: #cf0a2c;
    border-radius: 10px;
}