* {
  margin: 0;
  padding: 0;
}

.info-jets {
  width: 100%;
  height: 790px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  box-sizing: border-box;
}

.info-jets .historia {
  width: 100%;
  height: 100%;
  background: url("https://i.postimg.cc/3JtrNNgQ/barkito-2.png");
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-jets .historia h1 {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 50px;
  font-family: 'Antonio';
}

.info-jets .historia p {
  width: 100%;
  height: 100%;
  padding: 50px 60px 0 60px;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  line-height: 30px;
  margin: 0;
}

.info-jets .cont-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.info-jets .cont-info .cronograma {
  width: 100%;
  height: 80%;
}

.info-jets .cont-info .cronograma .tabla {
  position: relative;
}

.info-jets .cont-info .cronograma .tabla .dias {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 600px; */
  width: 90%;
  margin: 0 auto;
}

.info-jets .cont-info .cronograma .mobile {
  display: none;
}

.info-jets .cont-info .cronograma .tabla .dias img {
  width: 100%;
}

.info-jets .cont-info .cronograma .tabla .slide {
  margin: 0;
}

.info-jets .cont-info .buttons {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-jets .cont-info .buttons .btn {
  width: 30%;
  height: 50px;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  background-color: #cf0a2c;
  box-shadow: 5px 6px 10px 1px #f0637a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.info-jets .cont-info .buttons .btn:focus {
  outline: none;
}

.info-jets .cont-info .buttons .btn:hover {
  background-color: white;
  color: #cf0a2c;
  transform: scale(1.1);
}

.info-jets .cont-info .buttons .btn:active {
  background-color: #cf0a2c;
  color: white;
  transform: scale(0.8);
}



@media screen and (max-width: 1550px) {
  .info-jets .historia p {
    padding: 50px 50px 0 50px;
    text-align: justify;
    line-height: 25px;
  }

  .info-jets {
    height: 600px;
  }

  .info-jets .cont-info .cronograma .tabla .dias {
    height: 500px;
  }
}

@media screen and (max-width: 960px) {
  .info-jets {
    height: 700px;
  }

  .info-jets .historia h1 {
    padding: 40px 0 5px 30px;
    font-size: 27px;
    height: 8%;
  }

  .info-jets .historia p {
    width: 70%;
    align-self: flex-end;
    padding: 0 10px;
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
  }

  .info-jets .cont-info .cronograma .tabla .dias {
    height: 550px;
    width: 85%;
    margin: 0 auto;
  }

  .info-jets .cont-info .buttons {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-jets .cont-info .cronograma .tabla .nav {
    width: 20px;
    height: 20px;
  }

  .info-jets .cont-info .cronograma .tabla .nav svg {
    width: 90%;
    height: 90%;
  }

  .info-jets .cont-info .cronograma .tabla .indicators {
    position: absolute;
    bottom: 0;
    left: 43%;
  }
}

@media screen and (max-width: 768px) {
  .info-jets {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .info-jets .historia {
    height: 630px;
  }

  .info-jets .historia h1 {
    font-size: 25px;
    padding-left: 25px;
  }
  
  .info-jets .historia p {
    width: 100%;
    height: 100%;
    padding: 20px 30px 0 30px;
    font-size: 11px;
    line-height: 22px;
  }

  .info-jets .cont-info .cronograma {
    width: 100%;
    height: 100%;
  }
  
  .info-jets .cont-info .cronograma .tabla {
    width: 100%;
    height: 100%;
  }

  .info-jets .cont-info .cronograma .tabla .dias {
    width: 100%;
    height: 100%;
  }
  
  .info-jets .cont-info .cronograma .web {
    display: none;
  }

  .info-jets .cont-info .cronograma .mobile {
    display: block;
  }

  .info-jets .cont-info .buttons {
    width: 100%;
    height: 10%;
    margin-top: 10px;
  }

  .info-jets .cont-info .cronograma .tabla .nav {
    display: none;
  }

  .info-jets .cont-info .buttons .btn {
    font-size: 12px;
  }  
}
