* {
  margin: 0;
  padding: 0;
}

.menu-inscripcion {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-inscripcion {
    display: block;
    width: 100%;
    padding: 50px 50px;
  }

  .menu-inscripcion .contenedor-inscrito {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .tit-inscripcion {
    text-align: center;
    font-size: 20px;
    margin: 0;
  }

  .tit-inscripcion .span-utepsa {
    margin-left: 5px;
    font-weight: 800;
  }

  .btn-inscripcion {
    background-color: #cf0a2c;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
  }

  .btn-inscripcion:hover {
    background-color: #da3652;
    color: white;
  }

  .btn-inscripcion:focus {
    background-color: #da3652;
    color: white;
  }
}

/*
.contenedor-img,
.contenedor-sesion {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 60px;
}

.contenedor-img {
	background-image: url('https://i.postimg.cc/3JtrNNgQ/barkito-2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}

.contenedor-sesion {
	background-color: #004f84;
}

.form {
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	box-shadow: 5px 5px 20px 1px black;
}

.form .grupo-form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form .grupo-form h1 {
	font-family: 'Antonio';
	text-align: center;
	color: white;
	text-shadow: 2px 2px 8px black;
}

.form .grupo-form label {
	font-family: 'Antonio';
}

.form .dato input {
	width: 90%;
    margin: 10px auto;
    background: no-repeat;
    border: none;
    border-bottom: 2px solid white;
    padding: 6px 6px 6px 15px;
}

.form .dato input:focus {
	outline: none;
    border-radius: 25px;
    border: 3px solid #357791;
    box-shadow: 1px 1px 10px 5px #91d2ec;
    background-color: rgba(255, 255, 255, 0.8);
} */
