*{
    margin: 0;
    padding: 0;
}

.cont-slide {
    /* position: relative; */
    margin-top: 150px;
    width: 100%;
    height: 400px;
}

.cont-slide .slide {
    position: relative;
    height: 400px;
    width: 100%;
}

.cont-slide .slide .each-slide {
    width: 100%;
    height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: aquamarine;
}

.indicators {
    position: absolute;
    bottom: 0;
    left: 48%;
}