*{
    margin: 0;
    padding: 0;
}

.slide {
    position: relative;
    margin-top: 4%;
}

.slide .each-slide {
   height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: aquamarine;
}

.indicators {
    position: absolute;
    bottom: 0;
    left: 48%;
}